@page "/Organisations/{organisation}/Users/Remove/{id}"
@model WebApp.Pages.Organisations.Users.Remove
@{
    ViewData["Title"] = "Remove";
}
<div class="container">
    <h3>Are you sure you remove this User?</h3>
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                <p>Name:</p>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.RemoveUser.Id)
            </dd>
            <dt>
                <p>Email:</p>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.RemoveUser.Id)
            </dd>
        </dl>
        <form method="post">
            <input type="hidden" asp-for="RemoveUser.Id"/>
            <input type="submit" value="Remove" class="btn btn-danger"/>
            <a asp-page="./Index" class="btn btn-success">Back to List</a>
        </form>
    </div>
</div>