version: '3.1'

services:
  mongodb:
    image: mongo:3.4
    networks:
      - internal
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      -  mongo-testing-db:/data/db

  redis:
    image: redis
    ports:
      - 6379:6379
    networks:
      - internal

  mongo-express:
    image: mongo-express
    ports:
      - 5004:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
    networks:
      - internal

volumes:
  mongo-testing-db:

networks:
  internal:
