@page
@model IdentityServer.Pages.Index

@{
    ViewData["Title"] = "ChatChain Auth";
}

<!DOCTYPE html>

<html>
<head>
    <title>ChatChain Auth</title>
</head>
<body>
<div>
    <h2>Welcome to ChatChain Auth</h2>
</div>
</body>
</html>