@page
@model IdentityServer.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <div class="fullheight-with-navbar is-flex-centered">
        <h1>@ViewData["Title"]</h1>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
</div>