@page
@model IdentityServer.Pages.Account.Logout

<!DOCTYPE html>

<html>
<head>
    <title>Logout</title>
</head>
<body>
<div>
    <h2>You shouldn't be seeing this....</h2>
</div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

