@page
@model ClientConfig
@{
    ViewData["Title"] = "Client Config";
}
<div class="container">
    <script src="~/js/chosen.jquery.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/chosen.min.css">

    <h2>Client Config</h2>
    <hr/>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Client.ClientId"/>
                <div class="form-group">
                    <label class="control-label">Which Groups to send Client Events to: </label>
                    <br/>
                    <select asp-for="SelectedClientEventGroups" asp-items="Model.GroupOptions" 
                            class="SelectedClientEventGroups" style="width: 300px"></select>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="control-label">Which Groups to send User Events to: </label>
                    <br/>
                    <select asp-for="SelectedUserEventGroups" asp-items="Model.GroupOptions" 
                            class="SelectedUserEventGroups" style="width: 300px"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a asp-page="./Index" class="btn btn-danger">Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(".SelectedClientEventGroups").chosen();
        $(".SelectedUserEventGroups").chosen();
    </script>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
