@page "/{organisation}/Clients/Create"
@model CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "Shared/_ClientGroupsLayout";
}
<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
    <h2>Create new Client</h2>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <form method="post" id="edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.ClientName" class="control-label"></label>
                    <input asp-for="Input.ClientName" class="form-control"/>
                    <span asp-validation-for="Input.ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ClientDescription" class="control-label"></label>
                    <textarea class="form-control" form="edit" id="Input_ClientDescription" name="Input.ClientDescription" cols="40" rows="5"></textarea>
                    <span asp-validation-for="Input.ClientDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success"/>
                    <a asp-page="./Index" asp-route-organisation="@Model.Organisation.Id" class="btn btn-danger">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}