@page "/{organisation}/Clients/{client}/Edit"
@model EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_ClientGroupsLayout";
}
<div class="container">
    <h2>Edit Client</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post" id="edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Client.ClientId"/>
                <div class="form-group">
                    <label asp-for="Input.ClientName" class="control-label"></label>
                    <label>
                        <input class="form-control" asp-for="Input.ClientName" value="@Model.Client.ClientName"/>
                    </label>
                    <span asp-validation-for="Input.ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ClientDescription" class="control-label"></label>
                    <label for="Input_ClientDescription">
                        <textarea class="form-control" form="edit" id="Input_ClientDescription" name="Input.ClientDescription" cols="40" rows="5">@Model.Input.ClientDescription</textarea>
                    </label>
                    <span asp-validation-for="Input.ClientDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a asp-page="./Index" asp-route-organisation="@Model.Organisation.Id" class="btn btn-danger">Back to List</a>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}