@page "/{organisation}/Groups/{group}/Delete"
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "Shared/_ClientGroupsLayout";
}
<div class="container">
    <h3>Are you sure you want to delete this Group?</h3>
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                <p>Name:</p>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Group.Name)
            </dd>
            <dt>
                <p>Description:</p>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Group.Description)
            </dd>
            <dt>
                <p>Client Count:</p>
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Group.ClientIds.Count)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Group.Id"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-page="./Index" class="btn btn-success">Back to List</a>
        </form>
    </div>
</div>