@page "/{organisation}/Groups/{group}/Edit"
@model EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "Shared/_ClientGroupsLayout";
}

<div class="container">
    <h2>Edit Group</h2>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post" id="edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Group.Id"/>
                <div class="form-group">
                    <label asp-for="Input.GroupName" class="control-label"></label>
                    <label>
                        <input class="form-control" asp-for="Input.GroupName" value="@Model.Group.GroupName"/>
                    </label>
                    <span asp-validation-for="Input.GroupName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.GroupDescription" class="control-label"></label>
                    <label>
                        <textarea class="form-control" form="edit" id="Input_GroupDescription" name="Input.GroupDescription" cols="40" rows="5">@Model.Input.GroupDescription</textarea>
                    </label>
                    <span asp-validation-for="Input.GroupDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a asp-page="./Index" class="btn btn-danger">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}