@page
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ClientId"/>
            <div class="form-group">
                <label asp-for="Input.ClientName" class="control-label"></label>
                <input asp-for="Input.ClientName" value="@Model.Client.ClientName"/>
                <span asp-validation-for="Input.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Enabled" class="control-label"></label>
                <input asp-for="Input.Enabled" value="@Model.Client.Enabled"/>
                <label class="text-danger">Disabling a client Will Not take affect until after it or the api restarts</label>
                <span asp-validation-for="Input.Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}