@using IdentityServer.Models
@using Microsoft.AspNetCore.Http.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a></li>
            @if (!Context.Request.GetDisplayUrl().Contains("Logout"))
            {
                <li class="nav-item"><button type="submit" class="btn btn-link nav-btn nav-link">Logout</button></li>
            }
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link btn btn-primary" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-page="/Account/Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></li>
    </ul>
}