@page "/Organisations/{organisation}/Edit"
@model WebApp.Pages.Organisations.Edit
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2>Edit Client</h2>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post" id="edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Organisation.Id"/>
                <div class="form-group">
                    <label asp-for="Input.Name" class="control-label"></label>
                    <label>
                        <input class="form-control" asp-for="Input.Name" value="@Model.Organisation.Name"/>
                    </label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    <a asp-page="./Index" class="btn btn-danger">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}