@using WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" asp-page="/Clients/Index">Clients</a></li>
        <li class="nav-item"><a class="nav-link" asp-page="/Groups/Index">Groups</a></li>
    </ul>
}