@using IdentityServer_WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-page="/Clients/Index" class="navbar-item">Clients</a>
    <a asp-page="/Groups/Index" class="navbar-item">Groups</a>
}