@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info">
        <p>Yup, like every other site on the web, we use cookies. We use them for auth/security stuff, nothing else. 
        The site won't function without them, click accept to accept this, or don't, I won't tell you how to live your life.</p>
        <button type="button" id="cookieConsentButton" class="btn btn-primary" data-cookie-string="@cookieString">Accept</button>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsentButton").addEventListener("click", function (el) {
                console.log("#cookieConsentButton");
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").style.display = "none";
            }, false);
        })();
    </script>
}