@using Microsoft.Extensions.Configuration
@inject IConfigurationRoot Configuration

@if (User.Identity.IsAuthenticated)
{
    <form class="navbar-right">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="@(Configuration.GetValue<string>("AccountManagementPage"))" class="nav-link" title="Manage">Hello @User.Claims.First(claim => claim.Type.Equals("DisplayName")).Value!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-link nav-btn nav-link" asp-page="/Account/Logout">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Login">Register Or Login</a>
        </li>
    </ul>
}