@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a title="Manage">Hello @User.Claims.First(claim => claim.Type.Equals("name")).Value!</a>
        </li>
        <li>
            <a asp-page="/Account/Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-page="/Account/Login">Register Or Login</a>
        </li>
    </ul>
}