@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-page="/Clients/Index">Clients</a></li>
    <li><a asp-page="/Groups/Index">Groups</a></li>
}