/*
Main Site CSS
By @snaddyvitch-dispenser / Conor Howland
*/
.button.is-wider {
    padding: 0 25px; /* Button with more padding */
}

.columns {
    width: 100%; /* Fixes width issues for columns */
}

/* Adds padding to homepage text on wide screens */
@media screen and (min-width: 720px) {
    .is-thinner {
        padding-left: 5%;
        padding-right: 5%;
    }
}