@page
@model IndexModel
@{
    ViewData["Title"] = "ChatChain";
}

<section class="hero is-fullheight-with-navbar is-primary">

    <div class="hero-body">
        <div class="columns">

            <!--First Half of Home page - 1st Screen-->
            <div class="column is-thinner is-flex-centered">

                <!--Title-->
                <h1 class="title is-centered">ChatChain Makes It Easy</h1>
                <p class="subtitle is-centered ">The aim of the project is to provide a generic web API for linking various (text) chat services (and game chats) together in more dynamic ways than is currently available.</p>
                <div class="button-container"><a class="button is-danger is-wider" asp-area="Identity" asp-page="/Account/Register">Get Started</a></div>

            </div>

            <!--Second Half of Home page - 1st Screen-->
            <div class="column is-flex-centered">
                <img class="max-height" src="~/images/messages.svg" alt="Messages" />
            </div>

        </div>
    </div>

    <div class="hero-foot next-page-header is-primary-alt"></div>

</section>

<section class="hero is-fullheight is-primary-alt">

    <div class="hero-head">

        <h2 class="title is-size-4 has-text-centered is-primary-alt">Compatible with the products you love</h2>
        <p class="subtitle is-size-5 has-text-centered is-primary-alt">ChatChain is compatible with a whole range of different platforms, the flexibility of ChatChain allows you to build however you want</p>

        <div class="columns is-padded is-variable is-7">
            <div class="column">

                <div class="compatible-logos">
                    <img src="~/images/slack_logo.png" alt="Slack Logo" />
                </div>

            </div>

            <div class="column">

                <div class="compatible-logos">
                    <img src="~/images/minecraft_logo.png" alt="Minecraft Logo" />
                </div>

            </div>

            <div class="column">

                <div class="compatible-logos">
                    <h3><strong class="white-text">#irc</strong></h3>
                </div>

            </div>

            <div class="column">

                <div class="compatible-logos">
                    <img src="~/images/discord_logo.png" alt="Discord Logo" />
                </div>

            </div>
        </div>

    </div>



    <div class="hero-body">

        <div class="columns">

            <div class="column is-flex-centered">

                <img src="~/images/open_source.svg" alt="Open Source" class="half-image" />

            </div>

            <div class="column is-flex-centered">
                <div class="is-limited-width-desktop">
                    <h3 class="is-size-4 white-text">Contribute to <strong class="white-text">Chat</strong>Chain</h3>
                    <h2 class="large-title white-text">OPEN SOURCE</h2>
                    <p class="white-text has-text-margin">ChatChain is open source, we would love your help in making our platform even better, click on the button below to learn more.</p>
                    <div class="button-container">
                        <a class="button is-danger is-wider" href="https://github.com/ldtteam/ChatChain" rel="nofollow">Visit GitHub</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>


<section class="hero is-primary circuit-background">

    <div class="hero-body">
        <div class="columns">

            <div class="column">

                <div><img class="small-logo" alt="CC" src="~/images/ChatChainLogo.png"/> <h3 class="is-size-4 is-inline-block"><strong>Chat</strong>Chain</h3></div>
                <p>The aim of the project is to provide a generic web API for linking various (text) chat services (and game chats) together in more dynamic ways than is currently available.</p>

            </div>

            <div class="column">
                <p class="has-text-weight-bold">Brought to you by Let's Dev Together</p>
                <p>Let’s dev together group have been developing together for over 5 years, we are open to devs independent of their abilities and experience. We try to be helpful and understanding and also try to include new members as experienced as possible into our group.</p>
            </div>

        </div>
    </div>

</section>