@page
@model IndexModel
@{
    ViewData["Title"] = "ChatChain";
}

<section class="hero is-fullheight-with-navbar is-primary">

    <div class="hero-body">
        <div class="columns">

            <!--First Half of Home page - 1st Screen-->
            <div class="column is-thinner">

                <!--Title-->
                <h1 class="title is-centered">ChatChain Makes It Easy</h1>
                <p class="subtitle is-centered ">The aim of the project is to provide a generic web API for linking various (text) chat services (and game chats) together in more dynamic ways than is currently available.</p>
                <a class="button is-danger is-wider" asp-area="Identity" asp-page="/Account/Register">Get Started</a>

            </div>

            <!--Second Half of Home page - 1st Screen-->
            <div class="column">

            </div>

        </div>
    </div>

</section>